* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 70%;
    height: 80%;
    max-width: 800px;
    max-height: 400px;
    margin: auto;
    background-color: white;
}

.slider-img {
    height: 100%;
    width: 100%;
    display: none;
    object-fit: cover;
    object-position: center;
}

.controls, .container-s-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: -150px;
    bottom: 0;
    width: 150px;
}

.btn-top, .btn-bottom {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-top:hover, .btn-bottom:hover { 
    cursor: pointer;
}

.d-block {
    display: block;
}

.small-img {
    width: 100%;
    height: 20%;
    opacity: 0.3;
}
/* 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: -150px;
    bottom: 0;
    width: 150px;
} */

.real-img {
    opacity: 1;
    border: 1px solid white;
    border-left: none;
}



